body {
  font-family: 'Roboto Mono', monospace;
    background: AliceBlue;
}

select {
  font-family: 'Roboto Mono', monospace;
  margin: 20px auto;
  display: block;
}

svg {
  margin: 40px auto;
  display: block;
}

path {
  stroke: #ccc;
  stroke-width: 0.25px;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: lightblue;
  border: 3px solid blue;
  border-radius: 8px;
  padding: 15px;
}

.tooltip p {
  margin: 0;
}

.tooltip:before {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: blue;
  top: -30px;
  left: 50%;
  margin-left: -6px;
}

.title {
  display: block;
  margin-left: 50px;
  text-align: center;
  padding-left: 60px;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

p {
  font-size: 300;
  text-align: center;
}

.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa ;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: 'Roboto Mono', monospace;
}

.select-style select:focus {
    outline: none;
}

@media only screen and (max-width: 700px) {
  .container {
     flex-direction: column;
  }
}

@-ms-viewport{
  width: device-width;
}
